body {
    background-color: #454955;
}

#root {
    background-color: #454955;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#root * {
    flex: 1 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, p {
    color: #F3EFF5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 10vh;
    margin: 5vh;
    padding: none;
}
button {
    border: 3px solid #F3EFF5;
    border-radius: 5px;
    background-color: #454955;
    color: #F3EFF5;
    margin: 2vh;
    padding: 2vh;
    text-align: center;
}
.btn-lrg {
    font-size: 4vh;
}
input {
    height: 4vh;
    margin: 2vh;
    padding: 2vh;
    background-color: #F3EFF5;
    border: none;
    border-radius: 5px;
}
p {
    font-size: 5vh;
    padding: none;
    margin: 2vh;
}
form {
    flex: none;
}
.word-count-container {
    display: flex;
}